body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(-45deg, #c1eeff, #c3c3e6, #ffdbda, #d1c8e1);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex-grow: 1;
}

main div {
  margin-left: auto;
  margin-right: auto;
}

#title {
  text-align: center;
  font-size: 3em;
  font-style: italic;
  color: #3f3f3f;
  font-family: Courgette, cursive;
}

.color {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px black solid;
  margin: 5px 10px;
}

#pixel-board {
  margin-top: 40px;
}

#pixel-board div {
  height: 40px;
}

.pixel {
  display: inline-block;
  background-color: white;
  height: 40px;
  width: 40px;
  border: 1px black solid;
  border-collapse: collapse;
}

#color-palette {
  background: rgba(0, 0, 0, 0.2);
  width: fit-content;
  padding: 5px;
}

.selected {
  border: 1px white solid;
}

#clear-board {
  width: 70px;
}

#board-size {
  display: inline-block;
  margin-right: 10px;
}

#generate-board,
#board-size,
#clear-board {
  padding: 5px 10px;
  margin-top: 30px;
}

#footer {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 50px auto 0 auto;
}

#footer a {
  text-decoration: underline;
  color: black;
  display: inline-block;
  margin: 0px 20px;
}
